[2017-06-16 11:18] NikolaGavric94 opened #1 "Declaration of Nikolag\Square\SquareCustomer::charge(float $amount, string $cardNonce) must be compatible with Nikolag\Square\Contracts\SquareContract::charge(int $amount, string $nonce)"
`Declaration of Nikolag\Square\SquareCustomer::charge(float $amount, string $cardNonce) must be compatible with Nikolag\Square\Contracts\SquareContract::charge(int $amount, string $nonce) in SquareCustomer.php (line 9)`
<img width="1280" alt="screen shot 2017-06-16 at 13 20 20" src="https://user-images.githubusercontent.com/12602403/27224588-3956a1f2-5296-11e7-9607-e2b304d6f5b5.png">

[2017-06-16 11:30] #1 closed

[2017-06-16 11:50] NikolaGavric94 opened #2 "Undefined variable: fistName"
[code]
<img width="1280" alt="screen shot 2017-06-16 at 13 53 54" src="https://user-images.githubusercontent.com/12602403/27225493-c1ea6af4-529a-11e7-96d1-b52682f47521.png">

[2017-06-16 11:53] #2 closed

[2017-07-08 11:03] NikolaGavric94 opened #3 "Test ticket from Code Climate"

[2017-07-10 00:11] #3 closed

[2017-09-24 22:35] zhsolutions opened #7 "Wont install on 5.5.x"
tried to run the composer require command and it returns telling me it need 5.4.*

nikolag/square v1.0.1 requires laravel/framework 5.4.* -> satisfiable by laravel/framework[5.4.x-dev,

[2017-09-24 22:55] NikolaGavric94 commented on #7
Resolved in the newest release [v1.0.2](https://github.com/NikolaGavric94/laravel-square/releases/tag/v1.0.2), please upgrade the dependency.

[2017-09-24 22:55] #7 closed

[2017-09-25 23:19] zhsolutions opened #8 "SquareConnect Not found"
Got the packacge installed, and when processing a payment, i get

Class 'SquareConnect\Configuration' not found

[2017-09-26 09:28] #8 closed

[2017-10-15 23:40] zhsolutions opened #9 "DB Tables not found"
Hi!

I just installed your package again, into my project after following the installation instructions when trying to charge a card I get

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'nikolag_transactions' ...

But I cant even find the migrations to create the tables....

[2017-10-15 23:56] NikolaGavric94 commented on #9
What version are u using?

[2017-10-15 23:58] zhsolutions commented on #9
Latest Laravel and this adddon. Im closing this because I did not realize the old install ran the migration and was not be rerun because if it.. However I am experiencing some other bugs, related to the charge method.. I am submmitting now.

[2017-10-15 23:58] #9 closed

[2017-10-16 00:00] zhsolutions opened #10 "Undefined variable: exception"
When I am charging a card I get

"Undefined variable: exception"

It is telling me Line 135 nikolag/square/src/SquareService.php

[2017-10-16 00:02] zhsolutions opened #11 "Call to undefined method SquareConnect\ApiException::getCategory()"
Related to https://github.com/NikolaGavric94/nikolag-square/issues/10
I change line 131 to: ApiException $exception

And I get
Call to undefined method SquareConnect\ApiException::getCategory()

[2017-10-16 00:03] NikolaGavric94 commented on #11
You are not using the latest version which fixed #10 and #11

[2017-10-16 00:06] NikolaGavric94 commented on #11
After updating dont forget to rerun migrations and to check if your published config file looks similar to [this config](https://github.com/NikolaGavric94/nikolag-square/blob/master/src/config/nikolag.php)

[2017-10-16 00:09] NikolaGavric94 commented on #11
@zhsolutions awaiting your feedback

[2017-10-16 00:09] zhsolutions commented on #11
My Composer Config is:     "nikolag/square": "^1.1",

[2017-10-16 00:10] NikolaGavric94 commented on #11
Seems like your composer didn't fetch the newest version, remove your composer.lock file and remove vendor folder and run composer update, tell me which version does composer install?

[2017-10-16 00:24] zhsolutions commented on #11
This is the installation output of the CL running :

composer require nikolag/square --dev
 - Installing nikolag/core (v1.0.0): Downloading (100%)
  - Installing square/connect (2.4.0): Downloading (100%)
  - Installing nikolag/square (v1.1.0): Downloading (100%)

After that the Issue #10 still present.

[2017-10-16 00:30] NikolaGavric94 commented on #11
@zhsolutions can you check does the file [SquareConfig.php](https://github.com/NikolaGavric94/nikolag-square/blob/master/src/SquareService.php) from [v1.1.0](https://github.com/NikolaGavric94/nikolag-square/releases/tag/v1.1.0) match the same file in your vendor folder?

[2017-10-16 00:34] zhsolutions commented on #11
It Does not Match

[2017-10-16 00:38] NikolaGavric94 commented on #11
Hmm that is strange, if you are truly installing v1.1.0 then both your local copy in vendor and external one here should match..

[2017-10-16 00:45] zhsolutions commented on #11
I do not disagree...BUT i can tell you the composer file, the locked file both confirm its 1.1.0
I also uninstalled & deleted any record of the old installation before  running the new ccommand..

Seems likes its downloading some sort of old cache of the files rather then the actual files.

IDK, i manually overwrote the files with the downloaded ones from the .zip.

Seems as though that worked

[2017-10-16 00:45] NikolaGavric94 commented on #11
@zhsolutions try running `composer clearcache nikolag/square nikolag/core` and then remove vendor, composer.lock and do composer install

[2017-10-16 00:58] NikolaGavric94 commented on #11
@zhsolutions if the above solution worked, please close the issues

[2017-10-16 07:37] NikolaGavric94 commented on #11
@zhsolutions closing the issues since u are not responding I take it that you've resolved the issue, feel free to reopen it if it appears again

[2017-10-16 07:37] #11 closed

[2017-10-16 07:38] #10 closed

[2017-11-06 00:13] scottycam opened #12 "Database Migration Error"
I added the package to my project, setup and migrated. However running the migration command fails.

I am using MySQL ver 14.14

The failure was caused by this line in the "create_nikolag_customers_table" migration.

"$table->string('payment_service_type', 25)->unsigned();"

From my understanding you can't unsign a string. Removing "->unsigned()" fixes my issue.

ps. Thanks for the package, it is

[2017-11-06 00:20] NikolaGavric94 commented on #12
Hello, regarding the issue u were facing it was fixed in the latest version of [nikolag/core](https://github.com/NikolaGavric94/nikolag-core) package, you can look at the latest version and what was fixed (here)[https://github.com/NikolaGavric94/nikolag-core/releases]. Try downloading/updating to the latest version and closing this issue if it resolves ur problem.

I'm glad I was able to contribut

[2017-11-06 00:53] scottycam commented on #12
Amazing response speed :)

This does fix my problem. However installing the Square package via composer seems to always use core v1.0 (which has the typo). I can manually update core by changing the version in composer.json to 1.0.2
 and "composer update" however this causes it to trigger the minimum stability issue warning for the square package stating it requires core v1.0 and wont allow the up

[2017-11-06 01:05] NikolaGavric94 commented on #12
Hmm, can you try doing `composer clearcache` and then doing `composer update`? If this doesn't fixes the issue, I'll push a fix immediatelly

[2017-11-06 01:14] scottycam commented on #12
I ran both those commands and had the same issue.

[2017-11-06 01:19] scottycam commented on #12
if it helps at all changing the composer.json version of core to 1.0.2 and running composer update. This is the error.

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - nikolag/square v1.1.0 requires nikolag/core 1.0.0 -> satisfiable by nikolag/core[v1.0.0] but these conflict with your requirements or minimum-stability.
    - nikolag/square v1.1.0 requi

[2017-11-06 01:48] NikolaGavric94 commented on #12
@scottycam I've just pushed a fix, it passes the tests and installs v1.0.2 of nikolag/core package, could you confirm this actually fixed ur issue?

[2017-11-06 02:17] scottycam commented on #12
@NikolaGavric94 I just ran composer update and it didn't update to core 1.0.2. I ran composer clearcache and tried again but same thing.

To test I installed a fresh copy of laravel 5.5 and ran "composer require nikolag/square --dev" to install nikolag/square

it installed nikolag/core as a dependency but it installed core version 1.0.0 that has the typo. Does the composer.json file for nikolag/sq

[2017-11-06 08:33] NikolaGavric94 commented on #12
@scottycam Fresh install should be installing the latest version, because ^1.0 is supposed to install the version `>= 1.0 < 2.0.0` as in https://getcomposer.org/doc/articles/versions.md#caret-version-range-,
and in the tests that were ran 8h ago it did indeed install as u can see in the image below..
![test](https://user-images.githubusercontent.com/12602403/32431845-53df55c8-c2d5-11e7-955f-292b9c

[2017-11-06 17:22] NikolaGavric94 commented on #12
@scottycam i've just tried to clearcache and run composer install
<img width="373" alt="screen shot 2017-11-06 at 18 19 31" src="https://user-images.githubusercontent.com/12602403/32454375-5c2bacbe-c31f-11e7-91ca-32337e33ac81.png">
I think you should be fine now, try updating the dependencies with `composer update`

[2017-11-06 22:15] scottycam commented on #12
Running "composer update" again this morning and it updates correctly. Also tested on that fresh laravel installation I made before deleting it and updated that too, so all good. Thanks @NikolaGavric94 for helping me and fixing the issue so quickly :)

[2017-11-06 22:15] #12 closed

[2017-12-29 23:07] Chris1904 opened #13 "How to create an order?"
Hi there,

thanks for this package! I am currently trying to implement it into my ordering platform. Essentially, what I am looking for is trying to find a way to create an online order so it will show up in my POS along with all the offline orders.

Almost all of the online orders do not need to be paid for. Hence, I only need to create the order, and no charge I assume.

What would you recommend

[2017-12-30 10:35] NikolaGavric94 commented on #13
Hello Chris,

Currently the order system is in place but it’s not yet activated since it needs some more testing, the order system will probably be fully functional in the upcoming versions, roughly by the end of January 2018

Best regards,
Nikola Gavric

[2017-12-31 03:47] Chinese1904 commented on #13
Thanks Nikola! Looking forward to that :-)

Best,
Chris

[2018-03-05 08:34] NikolaGavric94 commented on #13
@Chris1904 Could you contact me via email regarding this feature, thanks

[2018-04-05 06:36] koliali opened #14 "Got error"
i got undefined merchant issue can any one help
![capture](https://user-images.githubusercontent.com/18602107/38350633-8c546acc-38c5-11e8-8f91-41aeed6d5b64.PNG)

[2018-04-05 07:53] NikolaGavric94 commented on #14
Hello @koliali , `$merchant` represents the object which uses `HasCustomers` Trait, I suppose that is the User class in your case

[2018-04-05 07:57] koliali commented on #14
brother do you have any working project for square up integration

[2018-04-05 14:03] NikolaGavric94 commented on #14
This is a library, I have my local testing application which uses this package, for testing purposes only

[2018-04-07 21:44] NikolaGavric94 commented on #13
Implemented as of [v2.0.0](https://github.com/NikolaGavric94/nikolag-square/releases/tag/v2.0.0)

[2018-04-07 21:44] #13 closed

[2018-04-07 21:46] NikolaGavric94 commented on #14
Feel free to reopen issue if you haven't resolved it yet, but provide us with a little more details on the error you are encountering.

[2018-04-07 21:46] #14 closed

[2018-04-16 08:59] NikolaGavric94 opened #16 "on save() it saves to square"
**Problem** - When I call save() it saves the order to the square vault too

**Supposed** - To only save the order into the local database.

**Reproduce** - `Square::setOrder($order, 'location_id')->save();`

[2018-04-16 09:00] #16 closed

[2019-02-10 16:26] doopz opened #23 "Minor typo in Examples"
Please note that there is a minor typo in the following wiki pages:
  * Examples/Customer Examples.md
  * Examples/Simple Examples.md

The line:
'location_id' => $locationd_id,

should be
'location_id' => $location_id,

[2019-02-10 16:35] NikolaGavric94 commented on #23
It is fixed, thanks for noticing

[2019-02-10 16:35] #23 closed

[2019-02-11 12:09] doopz commented on #23
No problem. Thank you for your library and hard work.

[2019-02-26 04:44] JGuiher opened #24 "1071 specified key is too long"
I am very new to this kind of stuff, so sorry if I ask dumb questions.

I am following your tutorial on medium.com

I got to where I do the database migration, and it created some tables, but I got a 1071 specified key is too long error for the nikolag_taxes table.

It created the table in my database, but not the appropriate migration entry.

I have customers, customer_user, taxes and transaction

[2019-02-26 08:54] NikolaGavric94 commented on #24
Hello @JGuiher, could you post the full stacktrace? Thanks

[2019-02-26 10:06] JGuiher commented on #24
I have no idea what a full stacktrace is. I did a search and maybe it is the full error thrown? If this doesn't help just tell me what I have to run to get what you need. Thanks.

![migration](https://user-images.githubusercontent.com/11841899/53404591-fd056900-3983-11e9-89c6-16d9cc18cf7e.JPG)

[2019-02-26 10:28] NikolaGavric94 commented on #24
Could you provide your db driver name and version too? Thanks

[2019-02-26 12:12] JGuiher commented on #24
Is this it?

Server type: MySQL
Server version: 5.6.39-cll-lve - MySQL Community Server (GPL)
Protocol version: 10
User: cpses_osujrtosv8@localhost
Server charset: UTF-8 Unicode (utf8)
Web server
cpsrvd 11.70.0.51
Database client version: libmysql - 5.1.73
PHP extension: mysqliDocumentation curlDocumentation mbstringDocumentation
PHP version: 5.6.30

[2019-02-26 13:10] NikolaGavric94 commented on #24
I've detected the possible issue. Will test it out tonight and push a fix, stay tuned. Thanks for reporting @JGuiher

[2019-02-26 21:48] JGuiher commented on #24
I updated all 6 of those files, still get the same exact error on the taxes table. Removed it and the rest of the migration ran perfect.

[2019-02-26 21:53] NikolaGavric94 commented on #24
I will need to run some tests then with your environment that you are using and get back to you. Sadly I'm cursed with really bad internet connection until Sunday so I will give my best to spin up some Docker containers and check it out, I'll get back to you soon then @JGuiher

[2019-02-26 21:54] JGuiher commented on #24
![migration](https://user-images.githubusercontent.com/11841899/53449114-1ee40780-39e7-11e9-8702-0b28efe76b48.JPG)

Yes, sorry for the issue. I much appreciate the fast help.

[2019-02-26 21:59] JGuiher commented on #24
I just tried an experiment, and it migrates properly if I give name and type a set length.

I used 50.

I searched some and I think maybe it is that combining those as unique they are too long without a set max length?

[2019-02-26 22:03] NikolaGavric94 commented on #24
Can you check if your `engine` attribute inside `config/database.php`, `mysql` connection is `null`?

[2019-02-26 22:07] JGuiher commented on #24
Yes it is.

Do you want me to change it to InnoDB?

It is in an answer I found here which made me try the length experiment.

https://stackoverflow.com/questions/42244541/laravel-migration-error-syntax-error-or-access-violation-1071-specified-key-wa

[2019-02-26 22:10] NikolaGavric94 commented on #24
You can change it and use it as a temporary solution until probably tomorrow, because at this time the connection gets really bad and i can't be of much help. Also, changing the length of all keys that make an index to `191` will do the trick, but since that will affect all users, I will need to find a better solution to include that rule only when really needed.

[2019-02-27 08:49] NikolaGavric94 commented on #24
@JGuiher Can you give me your environment info so I can replicate the issue? I will need your php version, correct laravel version (again) and mysql version (also again)

[2019-02-27 11:26] JGuiher commented on #24
Apache Version | 2.4.33
-- | --
PHP Version | 5.6.36
MySQL Version | 5.6.39-cll-lve
Architecture | x86_64
Operating System | linux

[2019-02-27 11:59] NikolaGavric94 commented on #24
The library is installable for `php > 7.0.0` only. I've just tested against the same environment you have and the migrations passed successfully when I added bellow line to `AppServiceProvider:boot` method:

[code]
Laravel doesn't do this for you automatically because it can't assume which DB driver you are using and even less which version of it. Tested this against a fresh installment of laravel

[2019-02-27 12:03] JGuiher commented on #24
I have the schema 191 line already added, but I possibly have a typo I don't see.

Sorry to have had these issues, but I got it working now with the previous workaround.

[2019-02-27 12:09] NikolaGavric94 commented on #24
You probably did make a typo, I would advise you keep that change and also try to insert that line of code into `AppServiceProvider`, but without typos. :) Feel free to reopen the issue if you need further help with this issue.

[2019-02-27 12:09] #24 closed

[2019-08-08 08:46] limuel567 opened #25 "Strong customer authentication (SCA)"
does this package support Strong customer authentication (SCA)
Link: [https://developer.squareup.com/docs/sca-overview](url)

[2019-08-28 21:05] jesseqli opened #26 "Calling deprecated API: TransactionsApi.charge"
I'm running into the issue: Calling deprecated API: TransactionsApi.charge

Any ideas on how to fix?

[2019-08-31 21:01] NikolaGavric94 commented on #25
Not at this time, but a rollout will be deployed as soon as possible to address this change

[2019-08-31 21:01] NikolaGavric94 commented on #26
Hello @jesseqli ,

We are aware of the issue and the fix will be deployed within the next couple of days

[2019-09-04 10:02] NikolaGavric94 commented on #26
Having some issues with Square and their location locking for certain features which actually blocks me from running tests right now and future development, but working on making it happen, will keep you posted!

[2019-09-19 19:46] jessehorne commented on #26
I'm having the same issue.

[2019-09-19 22:41] PaulJulio commented on #26
Submitted a PR: https://github.com/NikolaGavric94/laravel-square/pull/27
If you can't wait for approval, you could update your composer.json file to require square/connect version 2.20190710.0

[2019-09-20 11:55] NikolaGavric94 commented on #26
I will test it out later today (approx. 5-6h from now) and merge the mentioned PR, sorry for the delay

[2019-09-20 11:57] NikolaGavric94 commented on #25
I will move this as a feature for later versions since this feature won't be available to everyone (all countries) at start, so might require more time and help to test it properly.

[2019-09-20 11:59] #25 closed

[2019-09-21 22:08] NikolaGavric94 commented on #26
The new release has been deployed, thanks @PaulJulio for a quick fix, I'm looking into the new version of the library which will work with latest versions of Square API, thanks for being patient

[2019-09-21 22:08] #26 closed

[2019-09-22 22:19] Reflow1319 opened #28 "Laravel 6.0 Support"
Would it be possible to update the package to support laravel 6

[2019-09-23 05:55] NikolaGavric94 commented on #28
I will try to push an update for Laravel 6 and make a rollout a new version, will try to do that today

[2019-09-24 21:55] NikolaGavric94 commented on #28
This is fixed by [v2.3.0](https://github.com/NikolaGavric94/laravel-square/releases/tag/v2.3.0) release 👍

[2019-09-24 21:55] #28 closed

[2019-10-18 20:40] ya-ya-it opened #31 "Update an example from 'card_nonce' to 'source_id'"
I updated the plugin to the last version, and it starts to throw an error 'source_id is missing'. As I understand from the code, you changed the 'card_nonce' to 'source_id' field. This code is working for me.

`$options = [
          'amount' => $amount,
          'source_id' => $request->input('nonce'),
          'location_id' => env('SQUARE_LOCATION_ID'),
          'currency' => 'CAD'
];`

Pleas

[2019-10-20 15:41] NikolaGavric94 commented on #31
Fixed, thanks

[2019-10-20 15:41] #31 closed

[2019-10-21 17:46] ya-ya-it opened #32 "How to add a title to the transaction"
Hello!

Thanks for your package, it's really useful!
I'm building a booking system on Laravel and want to map orders on Square with data in my system.
I'm using a simple code to charge a customer:
[code]

And on the dashboard, all the transactions have the title "Custom Amount".

Is there is a way to change it to some custom message, like in this example?
(https://developer.squareup.com/docs/trans

[2019-10-22 07:25] NikolaGavric94 commented on #32
Hmm, there isn't a possibility to add the name of the payment yet. I will add the possibility for you to do that and update the library, can't promise any time frames, but I will try to add it in the next few days. :)

[2019-10-22 15:00] ya-ya-it commented on #32
Thanks for your reply!
I made a quick fix in my app for that, but I think that might be a useful function to add.
In SquareService inside charge method, I just added
[code]
And pass the note with the options. Square use this note to make a title.

[2019-10-22 16:10] ya-ya-it commented on #32
Also, I had to add
[code]
to the $prepData, othervise the transaction went to the wrong location.
We have a few locations with the same address connected to one account and without location_id, for some reasons, payments were made under the incorrect location.

[2019-10-23 19:35] #32 closed

[2019-10-23 19:40] NikolaGavric94 commented on #32
@ya-ya-it it's up and live with [v2.4.1](https://github.com/NikolaGavric94/laravel-square/releases/tag/v2.4.1). Don't forget to read up on the [CHANGELOG.md](https://github.com/NikolaGavric94/laravel-square/blob/v2.4.1/CHANGELOG.md#241---2019-10-23) because this release has some **BREAKING CHANGES**

[2019-10-23 19:44] ya-ya-it commented on #32
Thank you for the quick response and fix!

[2020-02-12 10:36] anish-techpro opened #36 "Production api is calling instead of Sandbox"
my config file is such:
[code]
though "sandbox" is true still the api that is calling is using "https://connect.squareup.com" as baseUrl.

[2020-02-12 10:55] NikolaGavric94 commented on #36
Thanks for trying out the package, I will take a look at this later today in approx. 5-6h from now and will try to diagnose as soon as possible and keep u updated.

Sorry for the inconvenience

[2020-02-12 10:56] anish-techpro commented on #36
I mean it should call the sandbox api when "sanbox" is true in config, right?

[2020-02-12 10:58] NikolaGavric94 commented on #36
Yes, I see now that we have a missing test case for when sandbox is on or off, so I will definitely start from there, but yes, the sandbox is covered in `SquareConfig.php`

[2020-02-12 11:20] anish-techpro commented on #36
I think the issue was because I was using a lower version. I updated the package to the latest version and now the is issue is fixed I think.

[2020-02-12 11:27] NikolaGavric94 commented on #36
Glad to hear that! When you are sure it is fixed, just close this issue, if you dont close it in the next 5-6h i will consider u still have it and start investigating @anish-techpro

[2020-02-12 17:16] NikolaGavric94 commented on #36
@anish-techpro can't reproduce the issue, any feedback from your side?

[2020-02-13 07:52] #36 closed

[2020-02-21 20:39] gogeens opened #37 "Setting up an order for gift cards in conjunction with credit card payment"
Hello Nikola,
Hope all is well.
As the title suggests, we are having a slightly difficult time creating an order that would handle multiple transactions (combination of gift cards and credit card). At the moment, we calculate the entire amount the customer needs to pay and simply charge them that amount from a cc (eg: $transaction = Square::charge($options)). From our understanding, to split the p

[2020-02-24 08:44] NikolaGavric94 commented on #37
Hmm, that is unusual and all the examples are covered with tests. Could you maybe provide a stacktrace of the error u get? Thanks

[2020-02-24 15:19] gogeens commented on #37
Hi Nikola, here is the issue:
<img width="1268" alt="Screen Shot 2020-02-24 at 10 11 33 AM" src="https://user-images.githubusercontent.com/51894664/75164428-cd9c5000-56ee-11ea-9714-2c3879ef13a8.png">
which happens right here:
<img width="1263" alt="Screen Shot 2020-02-24 at 10 16 28 AM" src="https://user-images.githubusercontent.com/51894664/75164384-bf4e3400-56ee-11ea-9a53-c25aba56e22c.png">
and

[2020-02-25 11:47] NikolaGavric94 commented on #37
Okay, I will look into this today and get back to you by the end of the day

[2020-02-27 08:27] NikolaGavric94 commented on #37
I wasn't able to replicate the issue, used a fresh project and installed the latest version of the library, are you using latest version too?

Also, if you are still experiencing the problem, could you post the stacktrace from the server logs, not the web view?

[2020-02-27 15:16] gogeens commented on #37
Hey Nikola,
Yeah, we are using the latest version of the package.
The stacktrace you asked for:
[code]

[2020-03-06 13:58] NikolaGavric94 commented on #37
Good news @gogeens is that I've identified the bug and I will post couple of solutions but there won't be any library update because the bug is actually not in the library itself but in the way the `Order system` has been setup on your side, which is caused due to some guidelines I've missed to put into the examples. So I will update examples and README.md to reflect this issue you just encountere

[2020-03-06 15:03] gogeens commented on #37
Thank you so much Nikola, we sincerely appreciate it!

[2020-03-06 17:14] NikolaGavric94 commented on #37
[code]
This is needed so the library can actually know which table is responsible for holding your orders and `$fillable` so we can mass assign `products, payment_service_id and payment_service_type`

I will update the library but before that I want to do some more tests and run them before, I will notify you as soon as I push out a fix for this so you can just upgrade it and continue with your wo

[2020-03-09 12:26] #37 closed

[2020-03-09 12:51] NikolaGavric94 commented on #37
@gogeens This should be fixed in the [v2.4.2](https://github.com/NikolaGavric94/laravel-square/tree/v2.4.2), please update your model with `$table` property to target table for your orders and also follow `Orders examples`, if you are still having issues after this feel free to reopen the ticket.

Sorry for inconvenience

[2020-03-09 14:22] gogeens commented on #37
Excellent, thank you so much! We will give it a go shortly and get back to you if there are any persisting issues.

[2020-03-17 21:06] PlaidFoxSG opened #40 "Laravel 7 support"
Just curious if this is coming down the immediate pipeline ... ?

[2020-03-19 12:33] dunkin1922 opened #41 "installation issue"
I'm unable to download and install the package via composer...i get the following when i attempt

<img width="1362" alt="Screen Shot 2020-03-19 at 8 31 50 AM" src="https://user-images.githubusercontent.com/29736402/77068000-3c9e5900-69bc-11ea-9637-c3c98fe840ea.png">

[2020-03-19 18:37] NikolaGavric94 commented on #40
Hello @PlaidFoxSG, yes the plan for the next release is scheduled to be done this weekend (Saturday or Sunday) and from next Monday (23.03) the new release with Laravel 7.4 support will be out.

[2020-03-19 18:37] NikolaGavric94 commented on #41
Hello @dunkin1922 , the support for Laravel 7 is not yet supported, there will be a release this weekend which adds the support for Laravel 7, keep an eye out for it!

[2020-03-23 07:53] NikolaGavric94 commented on #40
The new release will be published today, stay tuned

[2020-03-23 07:53] NikolaGavric94 commented on #41
The new release will be published today, stay tuned

[2020-03-23 22:52] dunkin1922 commented on #41
thanks mate...looking forward to it !

[2020-03-27 10:02] NikolaGavric94 commented on #41
Support for Laravel 7 is added in v2.5.0

[2020-03-27 10:02] #41 closed

[2020-03-27 10:02] NikolaGavric94 commented on #40
Support for Laravel 7 is added in v2.5.0

[2020-03-27 10:02] #40 closed

[2020-05-02 18:42] Itedjere opened #43 "Undefined Source_id"
Good day. Thanks for this wonderful laravel square package. It helps alot

I was trying to run a transaction, but I was getting an undefined source_id at
\vendor\nikolag\laravel-square\src\SquareService.php:229

I don't know why.

I passed the following key value pairs to the square::charge method
amount,
card_nonce
location_id
currency.

Am I suppose to pass some source_id??

Thanks

[2020-05-04 08:51] NikolaGavric94 commented on #43
Hello @Itedjere, sorry for late response, but I think you are not sending one of the required parameters, you can check the example and full explanation of each parameter needed [here](https://github.com/NikolaGavric94/laravel-square/wiki/Simple%20Examples).

If you are still experiencing issues, don't hesitate to post it here.

[2020-05-06 19:28] NikolaGavric94 commented on #43
@Itedjere I will close the issue if you don't have any feedback on this by the end of the day. Thanks

[2020-05-06 19:49] Itedjere commented on #43
Sorry for the delay. I changed it from form_nonce to source_id and it worked fine.

Thanks.

[2020-05-06 19:49] #43 closed

[2020-07-27 16:53] arunavaghsh84 opened #44 "Undefined index: source_id"
![image](https://user-images.githubusercontent.com/25776239/88569082-8cbab580-d057-11ea-9b5a-05d0094c0b20.png)

[2020-07-27 16:55] arunavaghsh84 opened #45 "[HTTP/1.1 401 Unauthorized]"
![image](https://user-images.githubusercontent.com/25776239/88569466-18ccdd00-d058-11ea-824c-5003e7daa11e.png)

[2020-07-28 10:54] arunavaghsh84 commented on #43
What was `form_nonce` parameter? You mean `form_nonce`?

[2020-07-28 10:58] #44 closed

[2020-07-31 22:34] NikolaGavric94 commented on #45
Hello, could you please post a screenshot of the code from your controller, entire function on ChargeController:39 would be great, thanks!

[2020-08-08 20:23] NikolaGavric94 commented on #45
I'll be closing this pull request if I don't get a response in the next 2 days. Thanks

[2020-08-10 18:51] #45 closed

[2020-08-17 13:28] tree1891 opened #46 "How to get user's transactions"
It seems that there is no link with users.

[2020-08-20 13:57] NikolaGavric94 commented on #46
I think u can find all about it on the wiki page of this project, but here is just one way to get [it](https://github.com/NikolaGavric94/laravel-square/wiki/HasCustomers%20Trait)

[2020-08-20 14:00] tree1891 commented on #46
It is for customer, customer is not user, I don't use customer, but simple charge

[2020-08-29 01:04] NikolaGavric94 commented on #46
For simple charges currently there is no way to retrieve all of the user transactions

[2020-08-29 02:38] tree1891 commented on #46
I have used user_has_square table for relation users and nikolag_transactions.

[2020-09-07 22:31] jakus1 opened #47 "Customer with ID not found."
Here is my code:
[code]
When I run the code against the sandbox api, everything works great. The customer is created and the transaction is attached to the customer. When I switch to live credentials I get:
```[HTTP/1.1 404 Not Found] {"errors": [{"code": "NOT_FOUND","detail": "Customer with ID `6XG3GYC5D8VCKE9JEHVVZAKECC` not found.","category": "INVALID_REQUEST_ERROR"}]}```

I can't figure out w

[2020-09-17 13:57] jakus1 commented on #47
I figured out what the issue is here. If anyone else encounters it, this is what is going on.

If you are using the same database for testing and live, when you test you create customers in your database that reference the Square sandbox but don't exist in the live database.

When you switch to live credentials, Square can't find the customer anymore (since it only exists in the sandbox) and throw

[2020-09-17 13:57] #47 closed

[2020-10-07 16:30] jaysonhubt opened #48 "Can't install on Laravel 8"
When I install this package, I got error:
    - Installation request for laravel/framework (locked at v8.6.0, required as ^8.0) -> satisfiable by laravel/framework[v8.6.0].
    - Installation request for nikolag/laravel-square ^2.5 -> satisfiable by nikolag/laravel-square[2.5.x-dev, v2.5.0].

Installation failed, reverting ./composer.json to its original content.

Thanks for reading!

[2020-10-08 22:28] NikolaGavric94 commented on #48
Hello,

The library is not compatible for Laravel 8. I've a lot of work right now, but I will do my best to introduce the compatibility with Laravel 8 and optimize it for it by the end of the month.

Thanks for showing interest!

[2020-10-08 22:29] #46 closed

[2020-10-09 13:25] jaysonhubt commented on #48
@NikolaGavric94 Thanks for support! Wish you work well!

[2020-11-18 22:35] sikios182 opened #49 "[HTTP/2 401] UNAUTHORIZED"
![imagen](https://user-images.githubusercontent.com/33912501/99596344-b9565c80-29bb-11eb-8431-ac9adf3ba39e.png)

Here is my controller

![imagen](https://user-images.githubusercontent.com/33912501/99596451-e4d94700-29bb-11eb-834e-8d78456988e1.png)

Hope you can help me,
Thank you.

[2020-11-20 00:37] HassanElshazlyEida commented on #44
[code]

[2020-11-20 15:02] NikolaGavric94 commented on #49
The first place I would look if I were you is the `$request->nonce`, looks like that value is not valid

[2020-11-20 16:27] sikios182 commented on #49
My fault, I was using the sandbox setup in mode false, sorry, now it's working.

Thank you!

[2020-11-20 16:28] #49 closed

[2020-11-30 00:32] rtconner commented on #48
bump, please? I have to disable square until this is fixed :/

[2020-12-04 14:20] NikolaGavric94 commented on #48
I haven't forgot about it, Im just unable to do any code changes for at least two weeks, have been having some tech. issues and real life issues

[2020-12-24 18:28] Algeneralo commented on #48
@NikolaGavric94 Any updates regarding this issue?
Thanks

[2021-01-02 15:57] NikolaGavric94 commented on #48
Hello everyone,

I'm glad to report that the update to the library with latest square library version, laravel 7 & 8 version and much more is coming soon, doing some last tests before deploying a working version. Sorry everyone for waiting for so long again.

[2021-01-02 19:26] #48 closed

[2021-01-19 23:10] extjac opened #53 "Change table name"
How do i change the table names: example... from "nikolag_customers" to "customers". Because when i rename the tables i get the error message.

[2021-01-19 23:12] extjac opened #54 "Error message"
Do you know what might be causing this error:
Code:
[code]

Error:
[code]

[2021-01-22 20:05] NikolaGavric94 commented on #54
Hello, variable amount should be of type integer, not string

[2021-01-22 20:05] NikolaGavric94 commented on #53
Hello, it is not possible to change the table name, why would u want to rename them?

[2021-01-23 02:01] extjac commented on #53
Example; after running the migration the table is called "nikolag_customers" and I have table called "customers" instead.

[2021-01-23 08:17] NikolaGavric94 commented on #53
The library is not hooked to work with custom customers tables, you have any critical issues with this?

[2021-01-23 13:17] extjac commented on #53
yep...unfortunately cant use it then. I already have an app working (Models, Controllers, etc)

[2021-01-23 13:17] #53 closed

[2021-01-23 13:18] extjac commented on #53
thanks for the answers

[2021-01-23 13:18] #54 closed

[2021-03-06 13:43] FR6 opened #56 "Suggestion: You could allow anyone to contribute to the wiki pages"
I would like to suggest some edits on the wiki pages to help others.

[2021-03-06 16:09] NikolaGavric94 commented on #56
They should be editable by everyone, not just contributors now

[2021-03-07 06:15] #56 closed

[2021-04-08 09:09] nayeemdev opened #57 "Payment into multiple Square Account?"
Hello there, Is there any option or features to pay in multiple square accounts at a time. For example in my system when a user paying 200$ it should split into 2/3 accounts(Admin and Vendor). But in this package, I have one option to add square credentials into the config file and all payments going in this account. What should I do now?

[2021-04-14 16:52] NikolaGavric94 commented on #57
Hello, it is not possible to use multiple accounts, it was intended for transactions with one account

[2021-06-02 07:42] nambp1807 commented on #49
![image](https://user-images.githubusercontent.com/49878264/120443299-b13a9900-c3b0-11eb-852d-67865769d1b4.png)

Hope you can help me,
Thank you.

[2021-06-02 07:49] nambp1807 opened #58 "[HTTP/2 401] UNAUTHORIZED"
![image](https://user-images.githubusercontent.com/49878264/120444267-ad5b4680-c3b1-11eb-9eb5-992a2ef1c917.png)

Hope you can help me,
Thank you.

[2021-06-02 08:22] NikolaGavric94 commented on #58
Have you looked at this: https://github.com/NikolaGavric94/laravel-square/issues/49#issuecomment-731268837?

[2021-06-02 08:47] nambp1807 commented on #49
My problem when using sandbox is no problem but when I switch to production, I get this error, Please help,

[2021-06-02 12:05] NikolaGavric94 commented on #58
Can you post some code where it is happening? @nambp1807

[2021-06-03 02:10] nambp1807 commented on #58
![image](https://user-images.githubusercontent.com/49878264/120575447-4be7b600-c44b-11eb-861b-98128ed9b45c.png)
I am having this problem. Is it because production hasn't activated Square yet?

[2021-06-03 20:22] NikolaGavric94 commented on #58
Depends, what are you searching for? Maybe posting the picture of your code can help resolve this

[2021-08-03 23:15] sikios182 opened #59 "SquareConnect\ApiException [HTTP/2 400] {"errors": [{"code": "VALUE_EMPTY","detail": "Field must not be blank","field": "source_id","category": "INVALID_REQUEST_ERROR"}]}"
![imagen](https://user-images.githubusercontent.com/33912501/128097975-046ebca8-c98b-46f2-a501-9ae2ddfd3200.png)

Here is my controller

![imagen](https://user-images.githubusercontent.com/33912501/128098112-4268dbd3-7115-4f0d-9498-68049e527bb3.png)

Hope you can help me
Regards.

[2021-08-04 15:51] NikolaGavric94 commented on #59
Hello sikios,

Seems like the `$request->nonce` is blank or empty, did u check you are sending the correct formNonce?

[2021-08-04 22:14] sikios182 commented on #59
Hi Nikola, that was my bad, I wasn't receiving the nonce in the request,

Thank you for your time.

[2021-08-04 22:14] #59 closed

[2021-09-21 18:14] itsmemanoj opened #60 "Request to Upgrade Square Connect to Square PHP SDK"
Hi @NikolaGavric94 ,

Thanks for the great package. It was very useful. And helped me with many projects. But now Square Connect is retired.
Any plan on upgrading to Square PHP SDK?

Thanks

[2021-09-22 05:35] NikolaGavric94 commented on #60
Hello, thank you for using the library and showing interest, it is really appreciated.

I will upgrade it to use the new sdk, since the time limitation I currently have I would give it around mid to end of October as ETA for this new change.

[2021-12-11 19:27] NikolaGavric94 commented on #60
Sorry for the long holdup on this. I've made all the necessary code changes for the upgrade, will need to do other admin changes like changelog, readme and some wiki changes first before making a new release. Thanks for being patient

[2021-12-31 15:59] NikolaGavric94 commented on #60
Done with Github actions setup, now finishing the documentation with the new release and will be releasing a new version by EOD

[2021-12-31 17:34] NikolaGavric94 commented on #60
New release has been published with ver. [3.0.1](https://github.com/NikolaGavric94/laravel-square/releases/tag/v3.0.1)

[2021-12-31 17:34] #60 closed

[2022-03-03 16:02] JustCarty opened #66 "Laravel 9 support"
I just wondered what the timeline is for Laravel 9 support.

Thank you.

[2022-05-02 02:55] Affan197 opened #67 "UNAUTHORIZED Token issue!"
[HTTP/2 401] {"errors": [{"code": "UNAUTHORIZED","detail": "The `Authorization` http header of your request was incorrect or expired. The header value is expected to be of the format \"Bearer TOKEN\" (without quotation marks), where TOKEN is a valid access token (e.g. \"Bearer ABC123def456GHI789jkl0\"). For more information, see https://developer.squareup.com/docs/build-basics/using-rest-api#__set

[2022-05-02 02:56] #67 closed

[2022-05-23 22:56] tonytakumi opened #69 "Card fails cause error"
If a card fails for whatever reason it throws an exception with APP_DEBUG=True and fails to return response to transaction.
If APP_DEBUG=false it just creates a 500 error.

Nikolag\Square\Exceptions\InvalidSquareZipcodeException: Authorization error: &#039;ADDRESS_VERIFICATION_FAILURE&#039; in file C:\inetpub\wwwroot\fundraiser\vendor\nikolag\laravel-square\src\SquareService.php on line 181

#0 C:

[2022-06-02 12:38] spaze-sushilthapa98 opened #70 "Charge with old customer issue"
I wanted to charge a customer already created. I passed the customer instance as following:
[code]

Doing so, i get the following error
`TypeError: Argument 2 passed to Square\Apis\CustomersApi::updateCustomer() must be an instance of Square\Models\UpdateCustomerRequest, instance of Square\Models\CreateCustomerRequest given`

[2022-06-28 13:57] #70 closed

[2022-09-20 20:45] 1tsmi opened #73 "Not entirely clear how this works."
Now solved.

[2022-09-22 07:16] #73 closed, assigned to nobody

[2022-10-31 08:51] NeekoGta commented on #66
Yeah, me too, we got this for now :

`nikolag/laravel-square[v3.0.1, ..., 3.0.x-dev] require doctrine/dbal ^3.2 -> found doctrine/dbal[3.2.0, ..., 3.5.x-dev] but these were not loaded, likely because it conflicts with another require.`

Idea?

[2022-11-03 09:59] usman735 commented on #66
hello
anyone find out the solution